.sprite { background: url('sprite.png') no-repeat top left; width: 21px; height: 21px;  } 
.sprite.sprite_02 { background-position: 0px 0px;  } 
.sprite.sprite_01 { background-position: -31px 0px;  } 
.sprite.sprite_05 { background-position: -62px 0px;  } 
.sprite.sprite_03 { background-position: -93px 0px;  } 
.sprite.sprite_06 { background-position: -124px 0px;  } 
.sprite.sprite_04 { background-position: -155px 0px;  } 
.sprite.sprite_08 { background-position: -186px 0px;  } 
.sprite.sprite_07 { background-position: -217px 0px;  } 
.sprite.sprite_10 { background-position: -248px 0px;  } 
.sprite.sprite_09 { background-position: -279px 0px;  } 
.sprite.sprite_11 { background-position: -310px 0px;  } 
.sprite.sprite_13 { background-position: -341px 0px;  } 
.sprite.sprite_12 { background-position: -372px 0px;  } 
.sprite.sprite_14 { background-position: -403px 0px;  } 
.sprite.sprite_17 { background-position: -434px 0px;  } 
.sprite.sprite_18 { background-position: -465px 0px;  } 
.sprite.sprite_15 { background-position: -496px 0px;  } 
.sprite.sprite_16 { background-position: -527px 0px;  } 
.sprite.sprite_21 { background-position: -558px 0px;  } 
.sprite.sprite_22 { background-position: -589px 0px;  } 
.sprite.sprite_19 { background-position: -620px 0px;  } 
.sprite.sprite_20 { background-position: -651px 0px;  } 
.sprite.sprite_29 { background-position: -682px 0px;  } 
.sprite.sprite_27 { background-position: -713px 0px;  } 
.sprite.sprite_24 { background-position: -744px 0px;  } 
.sprite.sprite_23 { background-position: -775px 0px;  } 
.sprite.sprite_25 { background-position: -806px 0px;  } 
.sprite.sprite_26 { background-position: -837px 0px;  } 
.sprite.sprite_28 { background-position: -868px 0px;  } 
.sprite.sprite_30 { background-position: -899px 0px;  } 
.sprite.sprite_02 { background-position: -930px 0px;  } 
.sprite.sprite_01 { background-position: -961px 0px;  } 
.sprite.sprite_03 { background-position: -992px 0px;  } 
.sprite.sprite_05 { background-position: -1023px 0px;  } 
.sprite.sprite_04 { background-position: -1054px 0px;  } 
.sprite.sprite_06 { background-position: -1085px 0px;  } 
.sprite.sprite_07 { background-position: -1116px 0px;  } 
.sprite.sprite_09 { background-position: -1147px 0px;  } 
.sprite.sprite_08 { background-position: -1178px 0px;  } 
.sprite.sprite_10 { background-position: -1209px 0px;  } 
.sprite.sprite_11 { background-position: -1240px 0px;  } 
.sprite.sprite_12 { background-position: -1271px 0px;  } 
.sprite.sprite_13 { background-position: -1302px 0px;  } 
.sprite.sprite_14 { background-position: -1333px 0px;  } 
.sprite.sprite_15 { background-position: -1364px 0px;  } 
.sprite.sprite_16 { background-position: -1395px 0px;  } 
.sprite.sprite_17 { background-position: -1426px 0px;  } 
.sprite.sprite_18 { background-position: -1457px 0px;  } 
.sprite.sprite_19 { background-position: -1488px 0px;  } 
.sprite.sprite_20 { background-position: -1519px 0px;  } 
.sprite.sprite_21 { background-position: -1550px 0px;  } 
.sprite.sprite_22 { background-position: -1581px 0px;  } 
.sprite.sprite_24 { background-position: -1612px 0px;  } 
.sprite.sprite_25 { background-position: -1643px 0px;  } 
.sprite.sprite_26 { background-position: -1674px 0px;  } 
.sprite.sprite_23 { background-position: -1705px 0px;  } 
.sprite.sprite_27 { background-position: -1736px 0px;  } 
.sprite.sprite_29 { background-position: -1767px 0px;  } 
.sprite.sprite_28 { background-position: -1798px 0px;  } 
.sprite.sprite_30 { background-position: -1829px 0px;  } 